{
  "plugins": [
    "stylelint-order",
    "stylelint-scss",
    "stylelint-selector-bem-pattern"
  ],
  "extends": [
    "stylelint-config-sass-guidelines",
    "stylelint-config-property-sort-order-smacss"
  ],
  "rules": {
    "order/properties-alphabetical-order": false,

    "plugin/selector-bem-pattern": {
      "preset": "bem"
    }
  }
}
