{
  "plugins": [
    "stylelint-order",
    "stylelint-scss",
    "stylelint-selector-bem-pattern"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-property-sort-order-smacss"
  ],
  "rules": {
    "comment-empty-line-before": [
      "always",
      {
        "except": ["first-nested"],
        "ignore": ["after-comment", "stylelint-commands"]
      }
    ],
    "declaration-empty-line-before": [
      "always",
      {
        "except": ["first-nested"],
        "ignore": ["after-declaration"]
      }
    ],

    "order/order": [
      [
        "custom-properties",
        "dollar-variables",
        {
          "type": "at-rule",
          "name": "extend"
        },
        {
          "type": "at-rule",
          "name": "include",
          "hasBlock": false
        },
        "declarations",
        {
          "type": "at-rule",
          "hasBlock": true
        },
        {
          "type": "at-rule",
          "name": "include",
          "hasBlock": true
        },
        {
          "type": "rule",
          "selector": "/^&:\\w/"
        },
        {
          "type": "rule",
          "selector": "/^&::\\w/"
        },
        "rules"
      ]
    ],

    "plugin/selector-bem-pattern": {
      "preset": "bem"
    },

    "scss/at-extend-no-missing-placeholder": true,
    "scss/at-import-no-partial-leading-underscore": true,
    "scss/at-mixin-argumentless-call-parentheses": "always",
    "scss/dollar-variable-colon-space-before": "never",
    "scss/operator-no-unspaced": true,
    "scss/selector-no-redundant-nesting-selector": true
  }
}
